body {
  background-color: rgb(250, 243, 221);
  text-align: center;
}

p {
  line-height: 2;
  margin: 0 auto;
  width: 30%;
}

/* Ordered and unordered lists */

ol {
  margin: 0 auto;
  width: 30%;
}

ul {
  margin: 0 auto;
  width: 30%;
}

/* li {
  display: inline-block;
} */

.content {
  background-color: rgb(200, 213, 185);
  padding: 30px 30px;
}

.recipe-links {
  padding: 30px 0;
}
